[core]
    editor = 'emacs -nw'
    pager = less
    excludefiles = '~/.gitignore'

[color]
    ui = auto
    grep = auto

[alias]
    br = branch
    st = status
    co = checkout
    ci = commit
    k = !gitk
    g = gui
    last = log -1 HEAD
    onel = log --oneline --decorate
    onelx = log --oneline --decorate -30 HEAD
    graph = log --oneline --graph --pretty='format:|%C(yellow) %h | %C(red) %ad | %C(green) %an | %C(reset) %s %d'

[user]
    name = PalaceChan
    email = XXX

[merge]
    conflictstyle = diff3

[credential]
    helper = cache --timeout=3600

[github]
    user = PalaceChan
    oauth-token = YYY
